<div class="col-12 col-md-6 mx-auto my-4">
    {{#if error}}

    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

    {{else}}

    <p>Please enter your new password. If you made a mistake, request a new password reset link :)</p>

    <form method="post" action="/confirm-password">
    <fieldset class="module aligned">
        <div class="form-wrapper">
            <div class="form-group field-password1">
                <label for="id_new_password1">New password:</label>
                <input id="id_new_password1" type="password" name="new_password" minlength="6" required />
                <input type="hidden" name="token" value="{{token}}" />
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Change my password">
        </div>
    </fieldset>
    </form>

    {{/if}}
</div>
